body {
	background: #f2f3ee url('../images/bg-tile.gif') top left repeat;
	color: #4b2707;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-size: 14px;
	font-family: 'Arimo', sans-serif;
}

.container {
	width: 924px;
	margin: 0 auto;
	padding: 30px 24px;
}


h1, h2 {
	font-family: 'Arimo', sans-serif;
	color: #013435;
	font-size: 6em;
	font-weight: normal;
	line-height: 44px;
}

h1 {
	text-align: center;
	padding: 0 0 20px;
}

#clicks{
    font-family: 'Arimo', sans-serif;
    font-size: 5em; 
    color: #dc7633;
}

h1 em {
	color: #dc7633;
	font-style: normal;
}

h2 {
	font-size: 34px;
}

h3 {
	margin: 0;
}

p.lead {
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	margin: 10px 0;
}

p {
	margin: 0;
}

a:link {
	color: #dc7633;
}

a:visited {
	color: #dc7633;
}

a:hover {
	color: #039C9E;
}
